:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  margin-block: 15px;
}

h3 {
  font-size: 1.3em;
  margin-block: 10px 0;
}

#app {
  min-width: 380px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: aliceblue;
}

.row {
  display: flex;
  align-items: center;
}

.itemTag {
  margin-right: 3px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected {
  background-color: #f8aa19;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.print {
  flex-grow: 1;
  background-color: #23ffc8;
}

.reset {
  background-color: #fd5000;
  width: fit-content;
}

[disable] {
  background-color: rgba(128, 128, 128, 0.226);
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }
}

button {
  padding: 0.3em 1.2em;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid transparent;
  margin-inline: 3px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #fddede;
  }
}

.output {
  width: fit-content;
  margin: 10px auto 60px;
  border: 1px solid rgb(95, 95, 233);
}

.grid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(95, 95, 233);
  font-weight: 700;

  &[btnSelected] {
    background-color: rgb(130, 130, 255);
  }
}

@media (max-width:600px) {
  #app {
    padding: 5px;
  }

  .grid {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  button.n {
    padding: 0.2em 0.8em;
  }
}


@media (min-width:1100px) {
  #background {
    position: fixed;
    inset: 0;
    background-image: url("public/background.jpg");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
  }
}